.card
    &__flex
        &--toolbar
            margin-top: -65px

.v-card
    &__dialog
        & ^[0]__text
            padding: 0 16px 8px
    
    &__uploader
        position: absolute
        bottom: 12px
        right: 12px