table.v-datatable
    &--select-all
        thead tr:first-child th:first-child
            width: 80px
        
        thead tr th.column
            &__date
                width: 170px
            
            &__code
                width: 170px
    
    .v-input
        &--selection-controls
            padding-top: 0

            .v-input__slot
                margin-bottom: 0
